
   img {
	max-width: 100%;
	min-width:100%;
	}

	.nostretch{
		max-width: auto;
		min-width:auto;
	}

	@page {
		margin: 0.5cm;
		}

		body {
		font: 16pt Georgia, "Times New Roman", Times, serif;
		line-height: 1.3;

		
		}
